<div class="container">
  <div class="wrapper col-md-8 col-md-offset-2 col-sm-10">
 <p class="flash"><%= notice %><%= alert %></p>
 
    <h1>投稿一覧</h1>
    <%= link_to "投稿", new_topic_path, class: 'btn btn-default' %>
    <br>
    <% @topics.each do |topic| %>
    <div class="row">
      <br>
      <h3><%=topic.user.name %></h3>
      <p>本文: <%= link_to topic.content,topic_path(topic.id) %></p>
    <%= link_to "編集", edit_topic_path(topic.id),class: 'btn btn-primary btn-sm active' %>
    <%= link_to "削除",topic_path(topic.id), method: :delete, data:{
    confirm: "本当に削除していいですか?"},class: 'btn btn-primary btn-sm active' %>
    </div>
    <% end %>
    
  </div>
 </div>